@import "../../shared/variables.scss";

.edit-modal {
  width: 540px;
  height: 440px;
}

.input-error {
  border: 2px solid $error-color;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 $error-color;
}
