@import "../../shared/variables.scss";

.menu {
  background-color: $header-color;
}

img {
  height: 80px;
}

.navbar-collapse {
  padding-top: 35px;
}

.nav-link {
  font-size: 25px;
}

@media (max-width: 992px) {
  li {
    margin-left: 25px;
  }

  .navbar-collapse {
    padding-top: 0;
  }
}

.log-out {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-right: 100px;
}

.fa-sign-out-alt {
  font-size: 20px;
  opacity: 0.7;
  margin-left: 20px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.fa-house-user {
  margin-right: 5px;
  opacity: 0.8;
}
