<div class="project-container">

  <div *ngIf="team && details && project" class="card">

    <div class='card-header'>
      <p>Name: <span class="text-capitalize">{{project.name}}</span></p>
    </div>

    <div class='card-body'>
      <p>Description: <span class="text-capitalize">{{details.description}}</span></p>
      <p>Technologies: <span class="text-capitalize">{{project.technologies}}</span></p>
      <p>Owner: <span class="text-capitalize">{{getOwnerName()}}</span></p>
      <p>Team: {{getTeam()}}</p>
      <p>Start date: {{details.startDate}}</p>
      <p>Team capacity: {{details.noMembers}}</p>
    </div>

    <div class='card-footer'>
      <div class="row">
        <div class="col-8">
          <p>Available team positions: {{details.noMembers - team.length}}</p>
        </div>
        <div class="col-4">
          <div class="float-right">
            <button *ngIf="!isCurrentUserOwner()">Join</button>
            <i *ngIf="!isCurrentUserOwner()" class="fas fa-comments"></i>
            <i *ngIf="isCurrentUserOwner()" class="fas fa-pen" (click)='editProject()'></i>
            <i *ngIf="isCurrentUserOwner()" class="fas fa-trash" (click)='deleteProject()'></i>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
