@import "./app/shared/variables.scss";
$fa-font-path : '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

html {
  background-color: $body-color;
}

body {
  background-color: $body-color;
}

button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
