.fas {
  opacity: 0.6;
  margin-right: 10px;
  font-size: 18px;
  color: white;

  &:hover {
    opacity: 1;
  }

  cursor: pointer;
}

.projecst-nav {
  margin-right: 20px;
}

.create-button {
  display: block;
  float: right;
}

.fas{
  color: white;
}
